/* Resources */
:root {
    --color1: #1a1932;
    --color2: #657392;
    --color3: #ffffff;
}

@font-face {
    font-family: Gameboy;
    src: url("/fonts/Early\ GameBoy.ttf");
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color1);
}

/* Overlay / UI */

div#main-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* Transition Overlay */

div#overlay-transition {
    position: absolute;
    background-color: var(--color1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    opacity: 0;
}

div#overlay-transition > div#overlay-title, div#overlay-transition > div#overlay-subtitle  {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color3);
    font-family: Gameboy;
}

div#overlay-transition > div#overlay-title  {
    font-size: 48px;
}

div#overlay-transition > div#overlay-subtitle  {
    top: 60%;
    font-size: 32px;
}

/* User Inteface */
div#user-interface {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}