/* Resources */
:root {
    --color1: #131313;
    --color2: #3d3d3d;
    --color3: #ffffff;

    --healthbar-background: var(--color1);
    --healthbar-empty: var(--color2);
    --healthbar-fill: #ea323c;

    --defense-background: #92a1b9;
    --defense-text: var(--color3);

    --magic-defense-background: #00cdf9;
    --magic-defense-text: var(--color3);

    font-family: PressStart2P;
    font-size: 12px;
    user-select: none;
}

@font-face {
    font-family: PressStart2P;
    src: url('/fonts/PressStart2P.ttf') format('truetype');
}

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

div#main-container {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* User Inteface */
div#user-interface {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
